 @media only screen and (max-width: 768px) {
   .text-overlay-container {
     display: flex;
     flex-direction: column;
     font-size: 2rem;
     gap: 5px;
   }

   .review-container img {
     display: none;
   }
 }

 @media only screen and (max-width: 768px) {
   .responsive-text {
     font-size: 60px;
     line-height: 1.1;
   }
 }


 @media only screen and (min-width: 1024px) {
   .info-group {
     display: flex;
     gap: 10px;
   }

   .info-card-container {
     display: flex;
     gap: 32px;
   }
 }

 @media only screen and (min-width: 1280px) {
   .text-overlay-container p {
     font-size: 1.75rem;
     line-height: 1.1;
   }
 }

 * {
   box-sizing: border-box;
 }

 html {
   padding: 0;
   margin: 0;
 }

 .home-container {
   position: relative;
   display: flex;
   width: 100%;
   padding: 0;
 }

 .responsive-text {
   font-size: 180px;
   line-height: 1.1;
 }


 .home-hook {}

 .home-readmore {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .home-container img {
   display: inline-block;
   object-fit: fill;
   width: 100%;
   height: auto;
   background-color: black;
 }

 .text-overlay-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -70%);
   background-color: transparent;
   color: #fff;
   padding: 10px 20px;
   height: fit-content;
   font-size: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }


 .info-container {
   display: flex;
   flex-direction: column;
   padding: 42px;
 }


 .info-about-us {
   display: flex;
   flex-direction: column;
   gap: 5px;
 }

 .info-about-us h1 {
   margin-bottom: 24px;
   font-size: 52px;
 }

 .info-about-us p {
   font-size: 12px;
 }

 .info-card-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .review-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   color: white;
   padding: 42px;
 }

 .review-container img {
   min-width: 30%;
   flex-grow: 0;
 }

 .review-content-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .review-content-container>.card>.card-body {
   display: flex;
   justify-content: center;
   gap: 36px;
 }
